*{
    margin: 0;
    padding: 0;
    /* background-color: #dcedf0; */
}

.grid{
    display: grid ;
    grid-template-columns: 1fr 1fr;
}
.container {
    margin-top: 10%;
}
.card {
    background: #fdffff;
    /* height: 50vh; */
    box-shadow: 5px 5px 5px #bbbbbb;
}

input {
    width: 300px;
    border-radius: 5px;
    /* height: 40px; */
}



.center {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 60%;
    margin: auto;
}
.flex{
    display: flex;
    position: relative;
    /* margin: auto; */
    margin-left: 25%;
    width: 70%;
}

.center .out{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 50%;
    margin: auto;
}

.headline{
    margin-bottom: 10px;
}

.line{
    margin-top: 20px;
    margin-bottom: 20px;
}
select{
    width: 300px;
    border-radius: 5px;
    height: 30px;
}